<div class="layout-topbar">
    <a class="p-link layout-menu-button layout-topbar-button" href="" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="layout-topbar-logo" routerLink="">
        <span>Dev UI</span>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu">
        <div class="p-link" style="padding-top: 8px; padding-right: 15px;">
            <a (click)="goBackToLoginBtnClick()" routerLink="/login">
                <i class="pi pi-sign-out" style="font-size: 2rem"></i>
            </a>
        </div>
        <div class="flex align-items-center flex-column sm:flex-row" style="padding-top: 3px;">
            <p-chip label="{{ user.firstname }} {{ user.lastname}}" image="assets/demo/images/avatar/amyelsner.png"
                styleClass="m-1"></p-chip>
        </div>
    </div>
</div>