<h5>Modules en cours</h5>
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3" *ngFor="let module of modules | moduleFilter:'inProgress'">
        <p-card (click)="onCardClick(module)">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{module.title}}</span>
                    <div class="text-900 font-medium text-xl">{{module.participants.length}} participants</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round px-2" [ngStyle]="{height: '2.5rem'}">
                    <span class="block font-medium">{{module.start | date: 'HH:mm'}} - {{module.end | date: 'HH:mm'}}</span>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{module.start | date: 'dd-MM-yyyy'}} - </span>
            <span class="text-500">{{module.place}}</span>
        </p-card>   
    </div>
</div>


<h5>Modules suivants</h5>
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3" *ngFor="let module of modules | moduleFilter:'next'">
        <p-card (click)="onCardClick(module)">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{module.title}}</span>
                    <div class="text-900 font-medium text-xl">{{module.participants.length}} participants</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round px-2" [ngStyle]="{height: '2.5rem'}">
                    <span class="block font-medium">{{module.start | date: 'HH:mm'}} - {{module.end | date: 'HH:mm'}}</span>
                </div>
            </div>
            <span class="text-blue-500 font-medium">{{module.start | date: 'dd-MM-yyyy'}} - </span>
            <span class="text-500">{{module.place}}</span>
        </p-card>   
    </div>
</div>

<h5>Modules terminés</h5>
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3" *ngFor="let module of modules | moduleFilter:'closed'">
        <p-card (click)="onCardClick(module)">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{module.title}}</span>
                    <div class="text-900 font-medium text-xl">{{module.participants.length}} participants</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round px-2" [ngStyle]="{height: '2.5rem'}">
                    <span class="block font-medium">{{module.start | date: 'HH:mm'}} - {{module.end | date: 'HH:mm'}}</span>
                </div>
            </div>
            <span class="text-orange-500 font-medium">{{module.start | date: 'dd-MM-yyyy'}} - </span>
            <span class="text-500">{{module.place}}</span>
        </p-card>   
    </div>
</div>
