<div class="grid">
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="col-12 lg:col-12 xl:col-12">
            <p-card>
                <div class="flex justify-content-between align-items-center mb-2">
                    <h5>Modules en cours</h5>
                </div>
                <div *ngIf="(modules | moduleFilter:'inProgress').length > 0; else no_module">
                    <div *ngFor="let module of modules | moduleFilter:'inProgress'">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">{{module.title}}</span>
                                <div class="text-900 font-medium text-xl">{{module.participants.length}} participants
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-green-100 border-round px-2"
                                [ngStyle]="{height: '2.5rem'}">
                                <span class="block font-medium">{{module.start | date: 'HH:mm'}} - {{module.end | date:
                                    'HH:mm'}}</span>
                            </div>
                        </div>
                        <span class="text-green-500 font-medium">{{module.start | date: 'dd-MM-yyyy'}} - </span>
                        <span class="text-500">{{module.place}}</span>
                    </div>
                </div>
                <ng-template #no_module>Aucun module en cours</ng-template>
            </p-card>
        </div>

        <div class="col-12 xl:col-12">
            <p-card>
                <div class="flex justify-content-between align-items-center mb-2">
                    <h5>Statistique du module en cours</h5>
                </div>
                <p-chart type="line" [data]="chartData" type="pie" width="250"></p-chart>
            </p-card>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-6">
        <div class="col-12 lg:col-12 xl:col-12">
            <p-card>
                <div class="flex align-items-center justify-content-between mb-2">
                    <h5>Notifications</h5>
                </div>
                <p-accordion>
                    <div *ngFor="let module of modules | moduleFilter:'inProgress'">
                        <p-accordionTab header="{{module.title}}">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-700 font-medium mb-3">État du module</span>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                                    [ngStyle]="{width: '5rem', height: '2.5rem'}">
                                    <span class="block font-medium">En cours</span>
                                </div>
                            </div>
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">Quentin Sabin</span>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                                    [ngStyle]="{width: '5rem', height: '2.5rem'}">
                                    <span class="block font-medium">Signé</span>
                                </div>
                            </div>
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">Dédé Dumont</span>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                                    [ngStyle]="{width: '5rem', height: '2.5rem'}">
                                    <span class="block font-medium">Signé</span>
                                </div>
                            </div>
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">Bernard Truel</span>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                                    [ngStyle]="{width: '5rem', height: '2.5rem'}">
                                    <span class="block font-medium">Absent</span>
                                </div>
                            </div>
                        </p-accordionTab>
                    </div>
                    <p-accordionTab header="Module 3">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-700 font-medium mb-3">État du module</span>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                                [ngStyle]="{width: '5rem', height: '2.5rem'}">
                                <span class="block font-medium">Terminé</span>
                            </div>
                        </div>
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Quentin Sabin</span>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                                [ngStyle]="{width: '5rem', height: '2.5rem'}">
                                <span class="block font-medium">Signé</span>
                            </div>
                        </div>
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Dédé Dumont</span>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                                [ngStyle]="{width: '5rem', height: '2.5rem'}">
                                <span class="block font-medium">Absent</span>
                            </div>
                        </div>
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Bernard Truel</span>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                                [ngStyle]="{width: '5rem', height: '2.5rem'}">
                                <span class="block font-medium">Signé</span>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </p-card>
        </div>

        <div class="col-12 xl:col-12">
            <p-card>
                <div class="flex justify-content-between align-items-center mb-2">
                    <h5>Prochains modules</h5>
                </div>
                <div *ngIf="(modules | moduleFilter:'next').length > 0; else no_nex_module">
                    <p-virtualScroller [value]="modules | moduleFilter:'next'" scrollHeight="300px">
                        <ng-template let-module pTemplate="item">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">{{module.title}}</span>
                                    <div class="text-900 font-medium text-xl">{{module.participants.length}}
                                        participants
                                    </div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-blue-100 border-round px-2"
                                    [ngStyle]="{height: '2.5rem'}">
                                    <span class="block font-medium">{{module.start | date: 'HH:mm'}} - {{module.end |
                                        date:
                                        'HH:mm'}}</span>
                                </div>
                            </div>
                            <span class="text-blue-500 font-medium">{{module.start | date: 'dd-MM-yyyy'}} - </span>
                            <span class="text-500">{{module.place}}</span>
                            <span class="text-500">{{(modules | moduleFilter:'next').length}}</span>
                            <p-divider *ngIf="(modules | moduleFilter:'next')[((modules | moduleFilter:'next').length -
                                1)].id != module.id"></p-divider>
                        </ng-template>
                    </p-virtualScroller>
                </div>
                <ng-template #no_nex_module>Aucun module programmé</ng-template>
            </p-card>
        </div>

        <div class="col-12 lg:col-12 xl:col-12">
            <p-card>
                <div class="flex justify-content-between align-items-center mb-2">
                    <h5>Modules terminés</h5>
                </div>
                <div *ngIf="(modules | moduleFilter:'closed').length > 0; else no_closed_module">
                    <p-virtualScroller [value]="modules | moduleFilter:'closed'" scrollHeight="200px">
                        <ng-template let-module pTemplate="item">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">{{module.title}}</span>
                                    <div class="text-900 font-medium text-xl">{{module.participants.length}}
                                        participants
                                    </div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-orange-100 border-round px-2"
                                    [ngStyle]="{height: '2.5rem'}">
                                    <span class="block font-medium">{{module.start | date: 'HH:mm'}} - {{module.end |
                                        date:
                                        'HH:mm'}}</span>
                                </div>
                            </div>
                            <span class="text-orange-500 font-medium">{{module.start | date: 'dd-MM-yyyy'}} - </span>
                            <span class="text-500">{{module.place}}</span>
                            <p-divider *ngIf="(modules | moduleFilter:'closed')[((modules | moduleFilter:'closed').length -
                            1)].id != module.id"></p-divider>
                        </ng-template>
                    </p-virtualScroller>
                </div>
                <ng-template #no_closed_module>Aucun module terminé</ng-template>
            </p-card>
        </div>
    </div>
</div>