<div class="layout-menu-container">
    <ul class="layout-menu" role="menu" (keydown)="onKeydown($event)">
        <li app-menuitem *ngFor="let child of menuItems" [item]="child" [index]="i" role="none"></li>   
    </ul>
</div>