<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenue !</div>
                    <span class="text-600 font-medium">Identifiez vous pour continuer</span>
                </div>
            
                <div class="w-full md:w-10 mx-auto">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" type="text" [(ngModel)]="email" placeholder="Adresse email" pInputText class="w-full mb-3" style="padding:1rem;" email required>
            
                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Mot de passe</label>
                    <p-password id="password1" [(ngModel)]="password" placeholder="Mot de passe" [toggleMask]="true" styleClass="w-full mb-3" required></p-password>
            
                    <div class="flex align-items-center justify-content-between mb-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" [(ngModel)]="shouldRemember" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Se souvenir de moi</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Mot de passe oublié ?</a>
                    </div>
                    <button pButton pRipple label="S'identifier" class="w-full p-3 text-xl" (click)=onSignInBtnClick()></button>
                </div>
            </div>
        </div>
    </div>
</div>