<div class="content">
    <h2>{{ module.title }}</h2>
    <div class="module-infos">
        <span class="module-duration">Lieu : {{ module.place }}</span>
        <span class="module-duration">Début le {{ getModuleStartSchedule() }}</span>
        <span class="module-duration">Fin le {{ getModuleEndSchedule() }}</span>
        <p class="module-description">{{ module.description }}</p>
    </div>
    <div class="flex align-items-center mr-8">
        <h3 class="mb-0">Participants</h3>
        <div class="ml-auto flex align-items-center">
            <label for="selectAll">Tout sélectionner</label>
            <input type="checkbox" id="selectAll" class="ml-2 mb-0 mt-1" name="groupname"
                [(ngModel)]="areAllStudentsSelected" (change)="selectUnSelectAll()" />
        </div>
    </div>
    <ul class="students-list">
        <li class="student" *ngFor="let student of students">
            <div (click)="handleClickStudent(student)">
                <h5 class="mb-0">{{ student.firstname }} {{ student.lastname }}</h5>
            </div>
            <div class=" signature-section" *ngIf="isInProgressModule() === true; else disabledButtons">
                <button class="p-button-outlined p-button-danger mr-4" *ngIf="student.signature === undefined;" pButton
                    type="button" label="Absent" (click)="openCommentModal(student.id, student.comment)"></button>
                <input *ngIf="student.signature === undefined;" type="checkbox" class="student-checkbox"
                    (change)="updateSelectedStudentsArray()" [value]="student" [(ngModel)]="student.isSelected" />
                <button *ngIf="student.signature === undefined; else cancelButton" pButton type="button" label="Signer"
                    (click)="openSignature(student.id)"></button>
                <ng-template #cancelButton>
                    <button pButton type="button" label="Annuler" class="p-button-danger"
                        (click)="cancelSignature(student.id)"></button>
                </ng-template>
            </div>

            <ng-template #disabledButtons>
                <div class=" signature-section">
                    <button class="p-button-outlined p-button-danger mr-4" pButton type="button" label="Absent"></button>
                    <input type="checkbox" class="student-checkbox" />
                    <button pButton type="button" label="Signer"></button>
                </div>
            </ng-template>
        </li>
    </ul>

    <h3 class="signatures">Signatures</h3>

    <p-card class="mr-6 ml-1 flex justify-content-start mb-0" *ngIf="isInProgressModule() === true; else disabledButtons">
        <div class="mx-4">
            <button (click)="sendSignatureEmails(this.students)" pButton type="button"
                [label]="'Envoyer les signatures (' + selectedStudents.length + ')'"></button>
            <button (click)="generateQrCode()" pButton type="button" label="Génerer un QR code"
                class="p-button-success mx-3"></button>
            <button (click)="closeModule()" pButton type="button" label="Cloturer le module"
                class="p-button-help"></button>
        </div>
    </p-card>

    <ng-template #disabledButtons>
        <p-card class="mr-6 ml-1 flex justify-content-start mb-0">
            <div class="mx-4">
                <button pButton type="button" label="Envoyer les signatures (0)"></button>
                <button pButton type="button" label="Génerer un QR code" class="p-button-success mx-3"></button>
                <button pButton type="button" label="Cloturer le module" class="p-button-help"></button>
            </div>
        </p-card>
    </ng-template>

    <h3 class="signatures">Ajouter un commentaire</h3>

    <textarea class="comment-input" pInputTextarea [value]="module.comment"
        (change)="module.comment = moduleCommentInput.value" placeholder="Ecrire le commentaire"
        #moduleCommentInput></textarea>
</div>

<p-dialog modal="true" position="center" [(visible)]="isQrCodeOpen" header="QR code de signature"
    [style]="{ width: '40vw', height: '25vw' }">
    <div class="flex justify-content-center align-items-center">
        <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
</p-dialog>

<p-dialog modal="true" position="center" header="Ajouter un commentaire" [(visible)]="isCommentModalOpen"
    [style]="{ width: '40vw', height: '25vw' }">
    <textarea class="comment-input" pInputTextarea [value]="newCommentValues.comment"
        (change)="newCommentValues.comment = commentInput.value" placeholder="Ecrire le commentaire"
        #commentInput></textarea>
    <div class="flex justify-content-end mt-4">
        <button (click)="writeComment(); commentInput.value = ''" pButton type="button" label="Valider"
            class="p-button-success px-4"></button>
    </div>
</p-dialog>

<p-dialog modal="true" position="center" header="Signatures en attente" [(visible)]="isStudentsListOpen"
    [style]="{ width: '40vw', height: '25vw' }">
    <div class="flex align-items-center mr-7">
        <div class="ml-auto flex align-items-center">
            <label for="selectAll">Tout sélectionner</label>
            <input type="checkbox" id="selectAll" class="ml-2 mb-0 mt-1" name="groupname"
                [(ngModel)]="areAllNotSignedStudentsSelected" (change)="selectUnSelectAllNotsigned()" />
        </div>
    </div>
    <ul class="students-list">
        <li class="student" *ngFor="let student of notSignedStudents">
            <h5 class="mb-0">{{ student.name }}</h5>
            <div class="signature-section">
                <input type="checkbox" class="student-checkbox" [value]="student" [(ngModel)]="student.isSelected" />
            </div>
        </li>
    </ul>
    <div class="flex justify-content-end mr-7 mt-4">
        <button class="mr-2"
            (click)="this.isStudentsListOpen = false; this.signingStudent = undefined; this.isSignatureOpen = true;"
            pButton type="button" label="Passer"></button>
        <button class="p-button-success" (click)="handleCloseStudentsListModal(this.notSignedStudents)" pButton
            type="button" label="Envoyer les signatures"></button>
    </div>
</p-dialog>

<p-dialog modal="true" position="center" header="Signature" [(visible)]="isSignatureOpen"
    [style]="{ width: '40vw', height: '25vw' }">
    <div class="flex flex-column justify-content-center align-items-center mt-4">
        <div class="signature-pad">
            <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
        </div>
        <div class="signing-buttons">
            <button (click)="clearPad()" pButton type="button" label="Recommencer" class="p-button-warning"></button>
            <button (click)="savePad()" pButton type="button" label="Envoyer"
                class="p-button-success mx-2 px-4"></button>
        </div>
    </div>
</p-dialog>

<p-dialog modal="true" position="center" [(visible)]="isInformationOpen" [style]="{ width: '40vw', height: '25vw' }"
    header="Fiche du Participants">

    <div class="grid p-fluid">
        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input name="firstname" type="text" pInputText [(ngModel)]="selectedStudent.firstname">
            </div>
        </div>

        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText [(ngModel)]="selectedStudent.lastname">
            </div>
        </div>
        <br>
        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input type="text" pInputText [(ngModel)]="selectedStudent.phone">
            </div>
        </div>

        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="text" pInputText [(ngModel)]="selectedStudent.email">
            </div>
        </div>
    </div>
    <div class="flex justify-content-center">
        <img alt="" [src]="selectedStudent.signature" />
    </div>
    <div class="flex flex-row align-items-center mt-2 justify-content-end" [style]="{ width: '55%' }">
        <button (click)="saveUpdate()" pButton type="button" label="Sauvegarder" class="p-button-warning"></button>
    </div>
</p-dialog>