.content {
    margin: 1rem 2rem 0rem 2rem;

    .module-duration {
        font-size: 1.3rem;
    }

    .module-description {
        margin: 1rem 5rem 3rem 0rem;
    }

    .signatures {
        margin-top: 3rem;
    }
}

.students-list {
    margin-right: 4rem;
    margin-top: 2rem;

    .student {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        align-items: center;
        padding: 0.9rem 1rem;
        border-bottom: solid rgba(0, 0, 0, 0.1) 1px;

        .signature-section {
            margin-left: auto;
            display: flex;
            align-items: center;

            .student-checkbox {
                margin-right: 2rem;
            }
        }
    }
}

.signing-buttons {
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: 25px;
    display: flex;
    justify-content: space-between;
}

.comment-input {
    width: 100%;
    height: 60%;
}

.signature-pad {
    border: solid 4px #868686;
    border-radius: 10px;
}

.module-infos {
    display: flex;
    flex-direction: column;
}