.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 73px 5px 5px 0px;
    width: auto;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
